{% extends "skeleton.html" %}

{% block contents %}
{% if usr %}
<div class="card mb-4">
    <div class="card-header">Editar Sección</div>
    <div class="card-body">
        <form id="frmEditSeccion" name="frmEditSeccion" action="/seccion/edit/{{ seccion.oid }}" method="POST">
            <div class="mb-3">
                <label for="edName" class="form-label">Nombre de la Sección</label>
                <input type="text" class="form-control" id="edName" name="edName" value="{{ seccion.name }}" placeholder="Nombre..." required />
            </div>

            <div class="d-flex justify-content-between">
                <button type="submit" class="btn btn-primary">
                    <img width="24px" src="/static/edit.svg" title="Actualizar" />
                    &nbsp;Actualizar
                </button>
                <a href="/" class="btn btn-secondary">
                    <img width="24px" src="/static/back.svg" title="Volver" />
                    &nbsp;Volver
                </a>
            </div>
        </form>
    </div>
</div>
{% endif %}
{% endblock %}
